<mat-card>
    <img mat-card-image src='{{post.img}}' alt='{{post.title}}' [routerLink]="['/post', post.id]"/>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/post', post.id]"> {{post.title}} </a>
    </mat-card-title>
    <mat-card-subtitle>
      {{post.description}} <br>
      added on {{post.dateAdded | date: 'd MMMM y' }}
    </mat-card-subtitle>
  </mat-card-header> 
  <!--
  <mat-card-content>
    <h3 mat-subheader>Comments</h3>
      <div *ngFor="let comment of post.comments">
        <app-comment [comment]="comment"></app-comment>
      </div>
  </mat-card-content>
  --> 
</mat-card>