<!--POSTS-->
<div fxLayout="column" fxLayoutGap="2%">
  <div *ngIf="(posts$ | async) as posts; else loadingOrError">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start">
      <div *ngFor="let localPost of (posts$ | async)" fxFlex="0 0 calc(25%-0.5%)" fxFlex.xs="100%">
        <app-post [post]="localPost"></app-post>
      </div>
    </div>
  </div>
</div>

<!--TEMPLATE-->
<ng-template #loadingOrError>
    <mat-card>
      <mat-error *ngIf="(loadingError$ | async) as errorMessage; else loading">
       Error loading the post list: {{ errorMessage }}. <br/>
        Please try again later.
      </mat-error>
      <ng-template #loading>
        Loading latest posts...
        <mat-spinner></mat-spinner>
      </ng-template>
    </mat-card>
  </ng-template> 
