<mat-card>
    <mat-card-content>
      <form [formGroup]="commentFG" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <textarea  matInput aria-label="comment" placeholder="comment" type="text" formControlName="comment" required></textarea>
          <mat-error *ngIf="commentFG.get('comment').errors && commentFG.get('comment').touched">
            {{ getErrorMessage(commentFG.get('comment').errors) }}
          </mat-error>
        </mat-form-field>  
        <button type="submit" mat-raised-button [disabled]="!commentFG.valid">
          add
        </button>
      </form>
    </mat-card-content>
  </mat-card>