  <mat-card>
    <mat-card-header>
      <mat-card-title>User Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td>E-mail : </td>
          <td>{{customer.email}}</td>
        </tr>
        <tr>
          <td>Firstname : </td>
          <td>{{customer.firstname}}</td>
        </tr>
        <tr>
          <td>Lastname : </td>
          <td>{{customer.lastname}}</td>
        </tr>
      </table>
    </mat-card-content>
    <h2 style="text-align: center"> List of my comments comming soon ...</h2>
  </mat-card>

